.froodBox {
  border: 2px solid;
  border-color: #8900db;
  padding: 10px;
  margin-bottom: 20px
}
.froodBoxAdd {
  border: 2px solid;
  border-color: orange;
  padding: 10px;
  margin-bottom: 20px
}
.froodBoxTest {
  border: 2px solid;
  border-color: #8900db;
}
.froodBoxExtend {
  border: 2px solid;
  border-color: #5cb85c;
  padding: 10px;
  margin-bottom: 20px
}
.rotate180 {
  transform: rotate(-180deg);
  transition: .2s;
}

.rotate0 {
  transition: .2s;
}
h1{
  padding: 0px;
  margin: 0px auto;
  font-size:4.5vw;
}
h2{
  padding: 0px;
  text-align: center;
  margin: 0px auto;
  font-size:5vw;
}
h3{
  padding: 0px;
  margin: 0px auto;
  font-size:4vw;
}
@media (max-device-width: 640px){
  h1{
    padding: 0px;
    margin: 0px auto;
    font-size:4.3vw;
  }
  h2{
    padding: 0px;
    text-align: center;
    margin: 0px auto;
    font-size:4vw;
  }
  h3{
    padding: 0px;
    margin: 0px auto;
    font-size:3.5vw;
  }
}
